html
  head
    title Projekt:
    //
      Einbindung von jQuery (Nur mit Internetverbindung?)
          
    script(src='http://code.jquery.com/jquery-1.11.0.min.js')
    //
      Faye laden 
          
    script(src='/faye/client.js')
    //
      <link rel="stylesheet" type="text/css" href="styles.css">
          
    //
      Latest compiled and minified CSS 
          
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    //
      Optional theme 
          
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')
    script(src='../javascripts/details.js', type='text/javascript')
  body
    .navbar.navbar-inverse
      .container
        ul.nav.navbar-nav
          li
            a(href='/') Home
          li
            a(href='/top') Top Items
          li
            a(href='/add') Item Anbieten
          li
            a(href='/profile') Meine Angebote
          li
            a(href='/login') Login
          li
            a(href='/search') Suche
          li
            a#active_user
    .container
      .page-header
        h2 Details zum Angebot
      //
        Details zum Angebot
              
      table#tabelle.table.table-bordered.table-striped(border='1')
        tr
          th Verkäufer
          th Itemname
          th Menge
          th Preis
          th Einzelpreis
          th Verfügbarkeit
          th ID
        tr
          td#name= name
          td= itemname
          td= quantity
          td= price
          td= unitprice
          td= availability
          td#fahrt_id= _id
      form#form(name='form', action='/offers/:id', method='POST')
        button#submit.btn.btn-default(name='submit') Ich habe Interesse!
      h2 Interessenten
      table#responses.table.table-bordered.table-striped(border='1')
        tr
          th Username
    script(type='text/javascript').
      // Definition der 'action'
      $('#form').submit(function(event) {
      //Verhindert das Standard-Verhalten von submit
      event.preventDefault();
      // Formulardaten werden als JSON Objekt gespeichert
      var data = {
      name: getCookie("username"),
      status: "Unbeantwortet",
      fahrt_id: document.getElementById('fahrt_id').innerHTML,
      };
      alert(JSON.stringify(data));
      // post auf Ressource '/offers'
      var ajaxPost = $.ajax({
      type: 'POST',
      url: window.location.pathname + '/anfragen',
      data: JSON.stringify(data),
      contentType: 'application/json'
      });
      // Popup. Serverseitiges res.writeHead(200) erforderlich
      ajaxPost.done(function() {
      alert('Die Anfrage wurde hinzugefügt.');
      $( '#form' ).remove();
      });
      // Popup mit Fehlermeldung wenn Promise fehlgeschlagen
      ajaxPost.fail(function(e) {
      alert('Die Anfrage konnte nicht hinzugefuegt werden. (' + JSON.stringify(e) + ')');
      });
      });